 body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
} 
  .sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 36px;
    text-decoration: none;
    font-size: 25px;
    color: plum;
    display: block;

  }
  
  .sidenav a:hover {
    color: cyan;
  }