body ,html {
    width: 100%;
    height: 100%;
    margin: auto;
    position: fixed;
    background-repeat: no-repeat; 
    /* background-size: cover;
    background-blend-mode: saturation; */
}
.container {
    display:flex;
    width: 100%;
    height: 100vh;
}

.back_image {
    width:80%;
    background-image: url('../image/book.jpg');
    background-size: cover;
    background-position: center;

}

.form {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.label {
    padding: 10px;
    color: darkorchid;
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.input-field {
    border: none;
    outline: none;
    border-radius: 5px;
    width: 300px;
    padding: 10px;
    border-bottom: 2px solid #e29fd7;
}
.input-field::placeholder, .input-field  {
    color: #0a5eb1b7;
    font-size: 15px;
}

#sp {
    font-size: 20px;
    padding: 10px;
    top: 3px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#check{
    width: 30px;
}

h2 {
    text-transform: uppercase;
    text-align: center;
    font-size: 2.2rem;
    font-weight: 600;
    display: inline-block;
    color: #0a5eb1b7;
    margin-bottom: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.login{
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a{
    text-decoration: none;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.button {
    font-size: 24px;
    margin: 10px;
    border-radius: 5px;
    background-color: #e29fd7;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    width: 300px;
    height: 40px;
    border-bottom: 2px solid darkorchid;
}

@media screen and (max-width: 792px) {
    
    .form, .back_image {width: 600px; float: left;}
    .input-field{float: right;}
    .button{width: 200px; }
    
  }

@media screen and (max-width: 214px) {
    .button{width:90px;}
    .nav-bar a {
      float: none;
      width: 100%;
    }
  }
@media screen and (max-width: 856px) {
    .table {margin-top: 46px;}
    .nav-bar a {
        float: none;
        width: 100%;
        flex-direction: column;
    }
  }
@media screen and (max-width: 155px) {

    #sp { margin-right: 216px;}
    .login{margin-right: 216px; float:right;}
    }

/* 
form {
    background-color: rgb(0,0,0); Fallback color
    background-color: rgba(0,0,0, 0.4); Black w/opacity/see-through
    color: white;
    font-weight: bold;
    font-size: 20px;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 40%;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 50%;
    padding: 20px;
}
button {
    color: pink;
    background-color: blueviolet;
    width: 150px;
    height: 50px;
    text-align: center;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 10px;
    box-shadow: 0 9px #999;
}

button:hover {background-color: blueviolet}

button:active {
  background-color: blueviolet;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.input-field {
    color:black;
    width: 350px;
    height: 30px;
    border-radius: 10px;
}

.login a , .psw {
    text-decoration: none;
    font-weight: bold;
    color: blue;
    font-size: 20px;
}

#cancelbtn a{
    text-decoration: none;
    color: pink;
} */