<!DOCTYPE html>
<html lang="en">
  <head>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    
      <!-- <div class="top row" style="text-align: right;">
           <img src = "./logo.png" style="float:left; margin:0.5%; text-align:center;" width="50" height="50"/> Scalework
      </div> -->
      <style>
        #block_container {
    text-align: center;
    margin-top: 0.5%;
    align-items: center;
}
#block_container > div {
    display: inline-block;
    vertical-align: middle;
}
.heading {
  height: 150px;
  text-align: center;
  align-items: center;
}
table {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  font-weight: bold;
}
#table_container > div {
    display: inline-block;
    vertical-align: middle;
}
th,td {
  border-bottom: 1px solid #ddd;
}
a {
  text-decoration: none;
}

      </style>
  </head>
  <body style="background-color:#EFF0F7;">
<div style="background-color: white;"> 

  <div id="block_container">
  <div id="bloc1">Copyright &copy; All Rights Reserved.</div>
  <div id="bloc2"><img src="cid:logo"  width="50" height="50"></div>
</div>
      
      <!-- <i class="fa fa-address-book"></i> -->
      <div style="align-items: space-between;"></div>
   <div class="heading" style="color:white; font-size:50px; background-color: #DF265E;">
     <strong style="text-align:center; line-height: 150px;">Account Created</strong>
   </div> </br></br>
   <div style="padding-bottom:5%;">
        <p style="text-align: center;">
            Hello,<br>
            Kindly take note that an account has been created for Company Push Insights.
        </p></div>        

</div>

<div style="height: 50%; margin-top:10%;"></div>
    
<div style="margin-top:5%; background-color:white;">

  <strong style="text-align: left; font-size:30px; margin-left: 5%; line-height: 250%;">Push Insights Details</strong>
  <table>
    <tr>
      <td>
        <div id="table_container">
          <div id="bloc2"><img src="cid:user"  width="30" height="30"></div>
          <div id="bloc1">Global Client Administrator</div>
        </div>
      </td>
      <td>
        <p>MrsAwesome</p>
      </td>
    </tr>
     <tr>
      <td>
        <div id="table_container">
          <div id="bloc2"><img src="cid:user"  width="30" height="30"></div>
          <div id="bloc1">Scalework Contact Person</div>
        </div>
      </td>
      <td>
        <p>MrAwesome</p>
      </td>
    </tr>
    
  </table>
</div>
   
  </body>

  <footer>
    <P style="text-align: center;">Get in touch with <a href="mailto: support@scaleword.com">support@scalework.com</a> if you have any questions. </P><br>
      <div style="text-align:center;" >
        <a href="https://linkedin.com/getinnotized/" target="new" title="Linkedin"> 
            <img class="socialicon" src="cid:linkedin" height="50" width="50"> 
        </a>
        <a href="https://www.facebook.com/getinnotized/"target="new" title="Facebook" style="margin-left:2.5%"> 
            <img class="socialicon" src="cid:facebook" height="50" width="50"> 
        </a> 
        <a href="https://twitter.com/getinnotized/" target="new" title="Twitter" style="margin-left:2.5%"> 
            <img class="socialicon" src="cid:twitter" height="50" width="50">
        </a>
      </div>
         
        
  </footer>
</html>