<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Invitaton to join project</title>
  </head>
  <body>
    <p>
      Hello {{firstname}}<br />
      You have received an invitation to join project {{name}} for {{company_name}}.<br />
      This invite was facilitated by<br />

      Name: {{senderfirstname}} {{senderothername}}<br />
      Company: {{company_name}}<br /><hr>
      Kindly accept the invitation by clicking on the link below:<br />
      {{invitationLink}}<b /><br />

    Please Note:<b /> The link to this invite expires after 24 hours and cannot be used after said time.
    </p>
  </body>
</html>