<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{subject}}</title>
  </head>
  <body>
    <p>
      Hello {{firstname}}<br />
      please find below the uploaded file details:<br />
      Project: {{project_name}} <br />
      Tittle: {{tittle}} <br />
      Timestamp: {{timestamp}} <br />
      User: {{fullname_and_email}} <br />
      Email: {{email}} <br />
      File: {{url}}
    </p>
  </body>
</html>
