<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Borrow Book</title>
        {% load static %}  
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <script src="{% static 'js/borrow.js' %}"></script>
    </head>

    <body onload="handleFill()"><br><br><br><br>
        <form >
        {% csrf_token %}
            <div class="imgcontainer">
            </div>

            <div class="container">
                <br><br>

                
                <label for="book" ><b>Book:</b></label><br>
                <input type="text" placeholder="" name="book" id = "book" required>
                <br><br>

                <label for ="duration"><b>Duration:</b></label><br>
                <input type="number" placeholder="" name="duration" id="duration" required>
                <br><br>

                <button type="button" onclick="handleBorrow()">Borrow</button><br><br>
               <br><br>
            </div>

            <div class="container" style="background-color:#f1f1f1">
                <button type="button" class="cancelbtn"  id ="cancelbtn">Cancel</button> 
            </div>
        </form>

    </body>

  </html>