<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Books</title>
        {% load static %}  
        <link rel="stylesheet" href="{% static 'css/login.css' %}">
        <script src={% static 'js/books.js' %}></script>
    </head>

    <body><br><br><br><br>

    <button type="button" onclick="loadBooks()">Load Books</button>
    <section id="bookList">
      
    </section>




    </body>

  </html>