<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Login</title>
        {% load static %}  
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <script src="{% static 'js/login.js' %}"></script>
        <script src="{% static 'js/signup.js' %}"></script>
    </head>

    <body>
        <div class='container'>
            <div class='back_image'>

            </div>
            
            <div class='form'>
                <form>
                {% csrf_token %}
                    <h2>Login</h2>
                    <div>
                        <label class='label' for='email'><b>Email:</b></label><br>
                        <input class = 'input-field' type='email' placeholder='Enter Email' name='email'  id ='email' required>
                     </div>

                    <div>
                        <label class='label' for='psw' ><b>Password:</b></label><br>
                        <input class = 'input-field' type='password' placeholder='Enter Password' name='psw' id = 'password' required>
                    </div>

                    <div>
                        <input id='check' type='checkbox' onclick='showPassword()'>
                        <label id='sp'>Show Password</label>
                    </div><br>

                    <button class='button' type='button' onclick='handleLogin()'>Login</button><br><br>

                    <div>
                        <input type='checkbox' checked='checked' name='remember'  id ='remember'>
                        <label id='sp'> Remember me </label>
                    </div><br>

                    {% comment %} <button class='button' type='button' class='cancelbtn'  id ='cancelbtn'>Cancel</button> {% endcomment %}

                    <label> 
                        <span class='login'><a href="#">Forgot password?</a></span><br>
                        <span class='login'>Do not have an account? <a href='https://librariesapp.herokuapp.com/register/'>Sign up here</a></span>
                    </label>
                </form>
            </div>
        </div>    

    </body>

  </html>