<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Login</title>
        {% load static %}  
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <script src="{% static 'js/login.js' %}"></script>
    </head>

    <body><br><br><br><br>
        <form >
        {% csrf_token %}
            <div class="imgcontainer">
            </div>

            <div class="container">
                <label for="email"><b>Email:</b></label><br>
                <input type="email" placeholder="Enter Email" name="email"  id ="email" required>
                <br><br>

                <label for="psw" ><b>Password:</b></label><br>
                <input type="password" placeholder="Enter Password" name="psw" id = "password" required>
                <br><br>

                <button type="button" onclick="handleLogin()"><a href="https://librariesapp.herokuapp.com/dashboard/">Login</a></button><br><br>
                <label>
                <input type="checkbox" checked="checked" name="remember"  id ="remember"> Remember me
                </label><br><br>
            </div>

            <div class="container" style="background-color:#f1f1f1">
                <button type="button" class="cancelbtn"  id ="cancelbtn">Cancel</button> 
                <span class="psw">  Forgot <a href="#">password?</a></span>
            </div>
        </form>

    </body>

  </html>